body {
    
}

label {
    display: inline-block;
    font-weight: normal !important;
    margin-bottom: 5px;
    max-width: 100%;
    
}

.k-dropdown, .k-selectbox, .k-textbox, .k-datepicker, .k-timepicker {
    min-width:100%;
    max-width: 100%;
}

 .Fullscreen
  {
    width: 100%;
    background-color:#f5f5f5;
    padding:19px;
  }

 form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}
 
 .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    color: #777;
}

.myButton {
	background-color:#fff;
    color:#6A5ACD;
    margin:5px;
}

.footer
  {
    background-color:#6A5ACD!important;
  }

.header {
    background-color:#6A5ACD !important;
    color:#fff;
}
.content {
    margin-top:20px;
     margin-bottom:20px;
}

.k-ff {
    overflow: inherit !important;
}


 

       .footer> a {
            background: -moz-linear-gradient(top, rgba(154,107,61,0.85) 0%, rgba(154,107,61,0.4) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,107,61,0.85)), color-stop(100%,rgba(154,107,61,0.4)));
            background: -webkit-linear-gradient(top, rgba(154,107,61,0.85) 0%,rgba(154,107,61,0.4) 100%);
            background: -o-linear-gradient(top, rgba(154,107,61,0.85) 0%,rgba(154,107,61,0.4) 100%);
            background: -ms-linear-gradient(top, rgba(154,107,61,0.85) 0%,rgba(154,107,61,0.4) 100%);
            background: linear-gradient(to bottom, rgba(154,107,61,0.85) 0%,rgba(154,107,61,0.4) 100%);
            -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,.28), inset 0 0px 0 1px rgba(0,0,0,.28);
            -moz-box-shadow: 0 0 0 1px rgba(255,255,255,.28), inset 0 0px 0 1px rgba(0,0,0,.28);
            box-shadow: 0 0 0 1px rgba(255,255,255,.28), inset 0 0px 0 1px rgba(0,0,0,.28);
        }

       
    </style>




