.FullScreen {
    background-color:Blue;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;  
}
.Register {
color: white;
text-align:center;
}

.StickyFooter {  
	position:absolute;
    width: 99%;
    top: 95%;	
	background-color: Black;color: White;	
}